@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">Herzlich Willkommen</h1>
    <h1 class="display-4">Fáilte</h1>
    <h1 class="display-4">ようこそ </h1>
    <h1 class="display-4">Välkommen</h1>
    <h1 class="display-4">Bem-vindo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
